.filter{
   padding: 14PX 14px 14PX ;
  font-size: 16px;
  border: 1 solid rgb(161, 155, 155);
  border-radius: 5px;
  background-color: transparent;
  color: rgb(243, 229, 229);
  border-top: 1px solid rgb(161, 155, 155);
  border-left: 1px solid rgb(161, 155, 155);
  border-right: 1px solid rgb(161, 155, 155); 
  border-bottom: 1px solid rgb(161, 155, 155);
  margin-bottom: 50PX;
  color: fff;
}

.info{
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  transition: border-color 0.25s;
  margin-right: 10px;
  color:white;
  border-top: 1px solid rgb(161, 155, 155);
  border-left: 1px solid rgb(161, 155, 155);
  border-right: 1px solid rgb(161, 155, 155); 
  border-bottom: 1px solid rgb(161, 155, 155);
}